*.pyc
*.so
symbolic_torch.egg-info/
.vscode/
__pycache__/
build/
.vscode/settings.json
playground.py
test_output.log
run.sh
run_tests.sh
.vscode/settings.json
test_output.out
symbolic_torch/LBFGS_batched.py
symbolic_torch/save.py
Trash/*